@font-face{
    font-family: "Granjon";
    src:url(MUST BE UPLOADED TO A SERVER);
}

html,body {
    margin:0px;
    padding:0px;
    letter-spacing: 0.2px;
    color: black;
}

/*idbar*/
.idbar{
    background-color: #003262;
    padding: 10px 0px;
}

.idbar a{
    position: relative;
    left: 6.75%;
}

.idbar a:link{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.idbar a:visited{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
/*logoarea*/
.logoarea{
    position: relative;
    left: 6%;
    max-width: 200px;
}

@media (max-width: 769px) {
    .logoarea{
      max-width: 125px;
    }
}

/*navbar*/
.navbar-custom {
    background-color:white;
    color:#003262;
    border-radius:0;
    font-size: 16px;
}
  
.navbar-custom .navbar-nav > li > a {
    color:#003262;
    padding-left:40px;
    padding-right:40px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background-color: #003262;
  color:white;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus, .navbar-custom .navbar-nav .open>a  { 
  background-color: #003262;
  color:white;
}

@media (min-width: 768px) {
    .navbar-custom .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    }

    .navbar-custom .navbar-collapse {
    text-align: center;
    }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin: 0;
    }
}

@media (max-width: 769px){
    .navbar-custom{
      font-size: 14px;
    }
}

/* dropdown */
.navbar-custom .navbar-nav .dropdown-menu  { 
  background-color: white;
  font-size: 14px;
  
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  { 
  color: #003262;
  padding: 10px 35px 10px 14px;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #003262;
  text-decoration:underline;
  background: transparent;
}
      
.navbar-custom .navbar-brand {
    color:#003262;
}
.navbar-custom .navbar-toggle {
    background-color:white;
}
.navbar-custom .icon-bar {
    background-color:#003262;
}

/* slider */
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

/* centerslider */
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    margin: auto;
}

.customcarousel-caption {
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 10%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
}

@media (max-width: 769px) {
    .customcarousel-caption {
      bottom: 13%;
      left: 10%;
  }
}

.customcarousel-caption .btn {
  text-shadow: none;
}

.customcarousel-caption p{
  font-family: "Granjon", "Times New Roman", serif;
  font-size: 28px;
}

@media (max-width: 1000px) {
    .customcarousel-caption p{
      font-size: 24px;
  }
}

@media (max-width: 769px) {
    .customcarousel-caption p{
      font-size: 18px;
  }
}

@media (max-width: 600px) {
    .customcarousel-caption p{
      font-size: 16px;
  }
}

.customcarousel-caption a{
  color: white;
}

/*carousel button*/
.btn.btn-default {
    color: white;
    background-color: rgba(0,0,0,0.3);
    border-color: none;
    font-size: 15px;
    padding: 12px 30px;
}
.btn.btn-default:hover {
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-color: none;
}

@media (max-width: 769px) {
    .btn.btn-default {
    font-size: 13px;
    padding: 9.6px 24px;
  }
}

@media (max-width: 600px) {
    .btn.btn-default {
    font-size: 11px;
    padding: 9px 15px;
  }
}

/*ourvision*/
.ourvision{
  text-align: justify;
}

.ourvision h3{
  text-align: center;
  font-family: "Granjon", "Times New Roman", serif;
  letter-spacing: 2.2px;
}



.box1{
  text-align: justify;
}

.box1 h3{
  font-family: "Granjon", "Times New Roman", serif;
}




footer{
  background-color: #003262;
  margin: 0;
  padding: 0;
}

.copyright{
  color: white;
  font-size: 12px;
  margin: 8px 0px;
}
